/*
Jan Huiskes
10740929
Style van het informatie gedeelte van de pagina. Alle tekstvakken en buttons daarin.
*/


/* Buttons */
#page-info a:link, a:visited {
    background-color: #1e7b1e;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Titels en onderschriften */

.Titleinfo {
  font: 25px;
  font-weight: bold;
}

div.figure {
  float: left;
  width: 40%;
  margin: 30px;
  text-align: center;

}
div.figure p {
  font-style: italic;
  font-size: 12px;
  text-indent: 0;
}

/* Film */
iframe{
  height: 600px;
  width: 800px;
}
