/*
Jan Huiskes
10740929
Algemene layout van de pagina. Zoals hoe alles is geordend en hoe de pagina in zijn geheel eruit ziet.
*/


body{
  color: #404040;
  text-align: center;
}

.container-fluid{
    padding-top: 50px;
    background-color: #F0F8FF;
}

.col-md-4{
  padding-top: 50px;
  text-align: left;
}

.parallax {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clear: both;
}


#uitleg{
  text-align: justify;
  padding-bottom: 50px;
}

#bar{
  padding-bottom: 100px;
}

#page-info {
  height: 800px;
	color: #fff;
  background-image: url("../image/flag2.jpg");
  background-size: cover;
}

#text-container{
  float: left;
  width: 50%;
   margin: 0 auto;
}

#globaal{
  padding-top: 50px;
}

#debat{
  background-image: url("../image/debat.jpg");
}

#debat2{
  background-image: url("../image/trump2.jpg");
}

#debat3{
  background-image: url("../image/clinton2.jpg");
}

#debat4{
  background-image: url("../image/debat2.jpg");
}

h1{
  padding-bottom: 30px;
}

#text-container > h1{
  padding-bottom: 0px;
}

#bronnen{
  text-align: left;
  background-color: #1e7b1e;
  color: #fff;
}

h4{
  padding-top: 20px;
}

h5 {
  padding-left: 20px;
  padding-bottom: 50px;
}

/*navigation bar*/

.navbar{
  height: 50px;
  background-color: #1e7b1e;

}


#flag{
   width: 100px;
   height: 50px;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 75px;
    text-decoration: none;
}


#link-flag{
  display: block;
  text-align: left;
  padding: 0px 0px;
  text-decoration: none;
}

li a:hover {
    background-color: #145214;
    color: white;
}

li a:link, a:visited {
    color: white;
    text-decoration: none;
}


#link-flag:hover{
background-color: transparent;
}
