/*
Jan Huiskes
10740929
De CSS van de visualisaties en alles wat daarbij komt (zoals legenda's)
*/

/*legenda's*/

/* positionering */
.legend { list-style: none; width: 100%; text-align: left;}
.legend li { float: center; padding-right: 200px;}
.legend span { border: 1px solid #ccc; float: left; width: 18px; height: 18px }
/* kleuren */
.legend .republican { background-color: #B01733; }
.legend .democratic { background-color: #1441C7; }
.legend .libertarian { background-color: #FFF700; }
.legend .other { background-color: #A9A9A9; }


.legend2 {
  font-size: 12px;
}

#bar2{
  padding-top: 100px;
}

#legend{
  padding-bottom: 50px;
}

/* map */

#container2{
  height: 700px;
}


/* Titel en tekst style */

.Title {
  fill: black;
  font-size: 11.5px;
  font-weight: bold;
}

.Titlescatter {
  fill: black;
  font-size: 14px;
  font-weight: bold;
}

.Titlescatter2 {
  fill: black;
  font-size: 11px;
  font-weight: bold;
}

/* Hover */
.dot:hover{
  stroke: black
}

.bar:hover{
  stroke: orange
}

.barinfo:hover{
  stroke: orange
}

path:hover{
  stroke: orange
}

/* Pop up */
.d3-tip {
  line-height: 1;
  padding: 6px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border-radius: 4px;
}


/* Axes style */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
}
.axis text {
  font: 10px sans-serif;
}
