/*
Jan Huiskes
10740929
*/
/* positioning */
.legend { list-style: none; width: 50%; text-align: left;}
.legend li { float: none; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px }
/* colors */
.legend .republican { background-color: #B01733; }
.legend .democratic { background-color: #1441C7; }
.legend .libertarian { background-color: #FFF700; }
.legend .other { background-color: #02AD05; }

.navbar{
  height: 50px;
  background-color: #099999;

}


#flag{
   width: 100px;
   height: 50px;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 100px;
    text-decoration: none;
}


#link-flag{
  display: block;
  text-align: left;
  padding: 0px 0px;
  text-decoration: none;
}
/* Change the link color to darker green on hover */
li a:hover {
    background-color: #045C5C;
}

#link-flag:hover{
background-color: transparent;
}
/* Back ground color */
body
{
   text-align: center;
}

/* Title and text style */

.Title {
  fill: black;
  font-size: 11.5px;
  font-weight: bold;
}

.Titlescatter {
  fill: black;
  font-size: 14px;
  font-weight: bold;
}

.Titlescatter2 {
  fill: black;
  font-size: 11px;
  font-weight: bold;
}


.dot:hover{
  fill: orange;
}

/* Pop up */
.d3-tip {
  line-height: 1;
  padding: 6px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border-radius: 4px;
}


/* Axes style */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
}
.axis text {
  font: 10px sans-serif;
}





.legend2 {
  font-size: 12px;
}
